* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #757575;
    background-color: #fafafa;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
}

button:hover {
    background-color: rgba(158, 158, 158, .2);
}

button:active {
    background-color: rgba(158, 158, 158, .4);
}

button.icon {
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button.icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
    outline: none;
}

.modal-content {
    border-radius: 3px;
}

/* Header */

.header {
    height: 70px;
    background-color: #0060B9;
    margin-bottom: 40px;
}

.header .header__title {
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
    color: white;
}

.header .header__info {
    width: 130px;
    margin: 0 auto;
    padding: 11px 0px;
    font-size: 17px;
    text-align: center;
    color: white;
    display: inline-block;
}

.header .header__logout {
    font-size: 15px;
    height: 34px;
    width: 35px;
    float: right;
    display: inline-block;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    margin: 18px 0;
}

/* .header .logout-wrapper {
    float: right;
    display: inline-block;
} */

.header .header__logout:hover {
    border-color: rgb(207, 207, 207);
}

/* Desk */

.desk-block .desk-block__desk-item {
    min-height: 350px;
    min-width: 262px;
    max-width: 262px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background-color: #eee;
    cursor: pointer;
}

.desk-block .desk-block__desk-item:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .14);
}

.desk-block .desk-block__desk-title {
    text-align: center;
    font-size: 20px;
    color: gray;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.desk-block__title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.desk-block .desk-block__title-edit span {
    padding: 0 5px;
}

.desk-block .desk-block__title-input {
    width: 170px;
    padding-left: 5px;
}

.desk-block .desk-block__desk-item .add-block {
    position: absolute;
    bottom: 30px;
}

.add-block div {
    margin: 10px 10px;
}

.add-block span {
    font-size: 17px;
    padding: 0px 3px 3px 3px;
    vertical-align: middle;
}

.add-block .add-block__add-button {
    width: 261px;
    position: absolute;
    bottom: 0;
    color: gray;
}

.input-block .input-block__add-input {
    width: 200px;
    bottom: 0;
    padding-left: 5px;
}

/* Cards */

.card-block {
    margin-bottom: 40px;
}

.card-block .card-list .card-item {
    margin: 10px 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.card-item .card-item__card-title { 
    padding: 10px;
    display: inline-block;
    float: left;
    font-size: 17px;
    color: gray;
}

.card-item__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}

.card-item .card-item__card-remove {
    padding: 10px;
    display: inline-block;
    float: right;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}

.card-item .card-item__card-remove:hover {
    color: rgb(184, 184, 184);
    font-size: 17px;
}

.card-item .card-item__card-description {
    padding: 5px;
    margin-top: 20px;
    font-size: 17px;
    color: #ccc;
}

.card-item .card-item__card-description span:first-child {
    padding: 10px;
}

.card-item .card-item__card-description span:last-child {
    font-size: 18px;
    padding: 10px;
}

/* Popup card */

.popup-close {
    cursor: pointer;
}

.popup-close .glyphicon-remove {
    color: rgb(214, 211, 211);
    float: right;
    font-size: 16px;
}

.popup-card-block .card-info__card-title, .card-comments__comm-title {
    padding-bottom: 10px;
    display: inline-block;
    font-size: 25px;
    margin-left: 6px;
}

.card-info .card-info__card-title {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    padding-bottom: 0;
    display: inline-block;
}

.card-info .card-info__card-title:hover { 
    color: rgb(184, 184, 184);
}

.card-info .descr-block,
.card-info .card-info__info_item, 
.card-comments .card-comments__card-addcomm,
.card-comments .comments-list {
    padding: 5px 37px;
    font-size: 15px;
}

.card-info .descr-block .descr-block__descr-title,
.card-info .card-info__info_item .card-info__desk-title {
    color: #999999;
    display: inline-block;
}

.card-info .descr-block .descr-block__descr-title {
    display: block;
}

.card-info__desk-body {
    display: inline-block;
    margin-left: 5px;
}

.card-info__edit-input {
    display: inline-block;
    vertical-align: super;    
}

.card-info .descr-block .descr-block__descr-body {
    padding: 10px;
    display: inline-block;
    word-wrap: break-word;
    margin-left: 5px;
    overflow: scroll;
    max-width: 80%;
    max-height: 70px;
    text-overflow: ellipsis;
}

.card-info .descr-block .descr-block__descr-tools {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.card-info .descr-block .descr-block__text-area {
    width: 300px;
    height: 60px;
    margin-left: 15px;
    resize: vertical;
    vertical-align: top;
}

.card-info .descr-block .glyphicon-remove {
    font-size: 15px !important;
    cursor: pointer;
    display: inline-block;
}

.card-info .descr-block .glyphicon:hover {
    color: rgb(184, 184, 184);
}

.popup-card-block .glyphicon {
    margin: 0 5px;
    font-size: 20px;
    color: #999999;
    display: inline-block;
}

.glyphicon .glyphicon-remove-circle,
.glyphicon .glyphicon-ok {
    margin: 0 !important;
    padding: 5px 5px;
    vertical-align: bottom ;
    cursor: pointer;
}

.glyphicon-pencil {
    font-size: 16px !important;
    cursor: pointer;
}

.glyphicon-remove-circle {
    color: red !important;
    font-size: 19px !important;
    cursor: pointer;
}

.glyphicon-ok {
    color: green !important;
    cursor: pointer;
}

.glyphicon-tasks {
    vertical-align: super;
}

.popup-card-block .card-comments {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-comments .card-comments__add-input {
    width: 490px;
    height: 100px;
    resize: vertical;
    border-radius: 3px;
    border-color: #999999;
    padding-left: 5px;
}

.card-comments .comments-list .comment-item {
    padding: 10px 0;
}

.comment-item .comment-item__comment-message {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    word-wrap: break-word;
    overflow: scroll;
    width: 100%;
    max-height: 200px;
    text-overflow: ellipsis;
}

.comment-item .comment-item__comment-input {
    width: 400px;
    padding-left: 5px;
    resize: vertical;
}

.comment-item .comment-item__comment-author {
    color: #999999;
}

.comments-list .comment-item span {
    font-size: 16px;
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

.glyphicon-log-out {
    cursor: pointer;
    padding: 8px 10px;
    vertical-align: middle;
}

.glyphicon-log-out:hover {
    color: rgb(207, 207, 207);
}

.glyphicon-comment {
    vertical-align: top;
}

input {
    outline: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .header {
        height: 120px;
    }

    .header .header__logout {
        margin: 0 40px;
        float: none;
    }

    .card-comments .card-comments__add-input {
        width: 320px;
    }

    .input-block .input-block__add-input {
        width: 170px;
    }

    .card-info .descr-block .descr-block__text-area {
        width: 240px;
    }

    .comment-item .comment-item__comment-input {
        width: 240px;
    }
}